/* style of the input box*/
.input-wrapper{ 
    background-color: white;
    width: 100%;
    border-radius: 10px; 
    height: 2.5rem;
    padding: 0 15px; 
    box-shadow: 0px 0px 8px #ddd;
    display:flex;
    align-items: center;
}
/* styling the input text*/
input{ 
    background-color: transparent;
    border: none; 
    height: 100%;
    font-size: 1.25rem; 
    width: 100%;
    margin-left: 5px;
}
/* to get rid of blue border when you click the input field*/
input:focus{ 
    outline: none;
}
/* changing search icon color*/
#search-icon{ 
    color: black;
}

button{ 
    background-color: #A6A2C0;
    border: none; 
    border-radius: 20px; 
    height: 2.0rem;
    padding: 0 15px; 
}