.results-list{ 
    width: 120%; 
    background-color: whitesmoke; 
    display: flex; 
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    margin-top: 50px;
    height: 100%;
}