/* src/components/SearchBarResultsList.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

  .search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3b7cc; 
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 2px;
    padding: 1rem;
  }
  
  .track-info {
    display: flex;
    flex-direction: column;
  }
  
  .track-title {
    font-weight: bold;
    margin: 0;
    font-family:'Montserrat', sans-serif;
  }
  
  .track-artist {
    margin: 0;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
  }
  
  .track-album {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }
  
  .track-meta {
    display: flex;
    align-items: center;
  }
  
  .track-duration {
    background-color: #F1FCFE;
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .track-label {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 8px;
  }
  
  .track-label.synced-lyrics {
    background-color: #add8e6; /* Light blue */
    box-shadow: 0px 2px 4px black;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .track-label.instrumental {
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
  }

  